# Virtual Environment
.venv/
venv/
ENV/
__pycache__/
*.pyc

# Local Environment Secrets
.env

# Build and Packaging artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Outputs
rag/embeddings_db/
rag/logs/*.log